table th {
  text-transform: uppercase;
}

@media (max-width: 599px) {

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table td {
    position: relative;
  }

  table td::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: attr(data-label);
    float: left;
    color: #34cad7;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
  }
}
